/*
 * CSS file to be included in carrotJS games.
 * Contains standard values.
 */
.carrotJS
{
    position: relative;
}

.carrotJS .main
{
    position: absolute;
    pointer-events: none;
}

.carrotJS .sprite
{
    position: absolute;
    width: 32px;
    height: 32px;
    background-size: cover;
}
